:root {
    --red: #EF476F;
    --yellow: #FFD166;
    --green: #06D6A0;
    --lightBlue: #118AB275;
    --midBlue: #118AB2;
    --darkBlue: #073B4C;
    --lightGrey: #a3a3a3;
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: var(--darkBlue);
}

body > * {
    display: block;
    margin: auto;
}

body.map {
    background-color: var(--lightBlue);
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    letter-spacing: 2px;
}

h2 {
    padding: 20px;
}

p {
    font-size: 16px;
    line-height: 2;
}

p1 {
    font-size: 20px;
    word-spacing: 3px;
}

button {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    width: 200px;
    border: 0px solid black;
    box-shadow: none;
    transition: all 0.25s ease 0s;
}

button.redBtn {
    background-color: var(--red);
    color: white;
}

button.lightBlueBtn {
    background-color: var(--midBlue);
    color: white;
}

button.yellowBtn {
    background-color: var(--yellow);
    color: black;
}

button.greenBtn {
    background-color: var(--green);
    color: black;
}

button.darkBlueBtn {
    background-color: var(--darkBlue);
    color: black;
}

button:hover {
    box-shadow: 2.5px 5px 10px 2.5px var(--lightGrey);
    transition: all 0.25s ease 0s;
}

img.map {
    display: block;
    margin: auto;
    max-width: 90%;
    height: auto;
}

div {
    margin: 0px;
}

div.content {
    text-align: center;
    padding: 0px 50px;
}

div.hDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1000px;
    margin: auto;
}

div.vDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

div.hDiv h2 {
    padding: 40px 100px;
}

iframe.dataViz {
    max-width: 90%;
    border-radius: 10px;
    width: 600px;
    aspect-ratio: 4/3;
    border: 0;
    margin: 20px;
}

img.logo {
    display: block;
    margin: auto;
    width: 60px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: var(--darkBlue);
    margin: 0px;
    padding: 0px;
}

nav a {
    text-decoration: none;
    padding: 0px;
}

nav a img {
    padding: 15px;
}

nav a:not(:first-child) {
    color: white;
    background-color: var(--darkBlue);
    transition: all 0.25s ease 0s;
    padding: 35px 15px;
}

nav a:not(:first-child):hover {
    color: black;
    background-color: var(--yellow);
    transition: all 0.25s ease 0s;
}
